﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" width="48" height="48" class="img-circle" src="Content/images/unknown.gif">
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Admin</strong>
                            </span> <span class="text-muted text-xs block">CEO</span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    WoF
                </div>
            </li>
            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-laptop"></i> <span class="nav-label">Wheel Of Fate</span> </a>
            </li>
            <li class="@Html.IsSelected(action: "Dashboard")">
                <a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-bar-chart"></i> <span class="nav-label">Dashboard</span></a>
            </li>
        </ul>
    </div>
</nav>